@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&display=swap');

:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

button {
	cursor: pointer;
}

body {
	margin: 0px;
	line-height: 1;
	color: #000;
	background-color: rgb(223, 185, 245);
	font-family: 'Source Sans Pro', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {

}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
p{
	margin: 0;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

ul {
	padding: 0;
    margin: 0;
}

ul li {
	margin-right: 30px;
    
}

.main {
	margin-top: 20px;
}

.main .input__sec .input__p{
	margin-bottom: 20px;
}

.main .input__sec {
    margin: 0 0 20px 30px;
}

.main .output__sec {
    
	
}

.main .output__sec .output__item {
	margin-bottom: 20px;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	border-block-end: 1px #000 solid;
}

.main .output__sec .output__item:last-child{
	border-bottom: none;
}

.main .output__sec .output__item .delBtn {
	height: 23px;
	width: 23px;
	padding: 0;
}

.main .output__sec .output__item .ulAll{
	margin-bottom: 20px;
}

.main .output__sec .output__item .ulAll li a{
	color: #000;
}

.output__artistname::before {
    content: 'Artist name: ';
    color: rgb(0, 37, 247);
    font-style: italic;
}

.output__songs::before {
    content: 'Song name: ';
    color: rgb(0, 37, 247);
    font-style: italic;
}