@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&display=swap');

body {
    background-color: rgba(141, 117, 155, 0.856);
    margin: 0;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

body .sub-things {
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body .input-things{
    padding: 20px;
    display: flex;
    justify-content: center;

}

.cityname_cont {
    display: flex;
    justify-content: center;
}

ul li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

a:focus,
a:active {
	outline: none;
}

.menu__list {
    display: flex;
}

.menu__body ul {
    display: flex;
    padding: 0;
}

header {
    position: relative;
	z-index: 100;
    background-color: rgba(205, 184, 216, 0.89);
    
    
}

.header__menu {
    padding: 10px 0;
    height: 82px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header__menu li {
    padding: 30px;
    font-size: 20px;
}

.header__menu li a {
    color: rgb(0, 0, 0);
}

.sub-things_list .sub-things {
    padding: 20px;
}

.input-things {
   
   
}

.input-things input {
    text-align: center;
    padding: 5px;
    border-radius: 35px;
    border-color: #000;
    margin-right: 10px;
    width: 120px;
}

.input-things button {
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    border-color: #000;
    margin-right: 10px;
    width: 50px;
}

